@import "style.css";

header{
    /*width: 430px;*/
    width: 100%;
}

nav{
    margin-top: 20px;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
}
main{
    width: 100%;
}

footer{
    width: 100%;
}
.grid1{
    display: block;
}