/* is your multi line comment */
/* variable examples */
:root{
    --content-background-color: rgba(255,255,255, 0.85);
    --pagewidth: 960px;
}

/*
/* reset some default browser styles */
* {
    /*
    margin: 0; 
    padding: 0;
    */
    box-sizing: border-box; /* The CSS box-sizing property allows us to include the padding and  */
    
}


body{
    background-color: cornflowerblue;
}
header{
    /* background-color: rgba(255,255,255,0.75); */
    background-color: var(--content-background-color);
    /* width: 960px; */
    width: var(--pagewidth);
    /* width: 80%;*/ 

    /* padding and border add to the dimensions of the containers */
    padding: 20px;
    /* Add 20px of padding top tight bottom left edges */
    border: 5px;
    border-style: solid;
    border-color: blue;
    /* margin-top: -7 gets you to the top of the border */
    margin-top: -7px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
header > p{
    text-align: center;
    font-family: cursive;
    /* display: inline-block; */
}


nav > ul {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center; /* moving them as a block start(left), center, end(right */
    align-content: end; /* start (top), center, end(bottom) */
    align-items: center;
}

nav > ul > li {
    padding: 30px;
    list-style: none;
    background-color: aquamarine;


}

nav > ul > li > a{
    color:black;
    font-size: 20px;
    font-family: serif;
    text-decoration: none;
    
}

nav > ul > li > a:hover{
    background-color: green;
}

main{
    background-color: rgba(255,255,255,0.75);
    width: var(--pagewidth);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-top-width: 10px;
    border-top-style: dotted;
    border-top-color: white;
    margin: 0px auto;
    /* margin: top/bottom left/right */

}

footer{
    background-color: rgba(255,255,255,0.75);
    width: var(--pagewidth);
    height: 20px;
    border: 10px solid green; 
    padding: 20px;
    margin: 0px auto;
    margin-top: 50px;
}

h1{
    /* background-color: #333333; */
    color: #777777; /*changes the text color*/
    text-align: center;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}

/* adding a , adds the property to all of the ones that it has */
h2, h3{
    font-family: sans-serif; /* serif, sans-serif, monospace, fantasy, cursive */
}

h2{
    color: green;
}
 /* find class grid1; add the period */
 /* this instance, makes 3 columns next to eachother */
.grid1{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid2{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
}

/* have more control when using px demenations for gid-template-; and not fr */
/* justify-content */
    /* space-between spaces them from each side and then spaces them out equally with left and right on margins */
    /* space-evenly takes entire space and spaces out on the entire thing   */
    /*start, center, end -- send to left, center, and right; like in docs when do each one */
.grid3{
    height: 400px;
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content:end;
    align-content: start;
    align-items: end; 
    background-color: blueviolet;
}

.grid3 p{
    background-color: aliceblue;

}

/* id's are meant to be used once; so generally better to use classes */
#section2{
    color:firebrick;
    background-color:blanchedalmond;
}

.grid4{
    display: grid;
    grid-template-rows: auto auto;
    /* grid-template-rows: 1fr 1fr; */ /*do auto auto for space descreprences */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* adjusting image (generally only adjust either width or height) */
.grid4 img{
    width: 100%;  /* 100% of parent container it is in */ 
    
    /* height: 400px; */ /* bc it is set to hr, the content of image is larger, so it is taking the priority, over the container it is in (superceeds fitting nice in the container */

}